/target
*.log
config.yml
config.*.yml
!config.example.yml
*.db
.idea
.vscode
Dockerfile
README.md
.editorconfig
docker-compose.yml
docker-compose.*.yml
node_modules
package.json
package-lock.json
.cache
.env
.env.example
