server:
  host: 0.0.0.0
  port: 8080

database:
  host: localhost
  port: 5432
  database: postgres
  user: postgres
  password: postgres

upload:
  # Optional, if not set, the default is unlimited
  max_size: 5000000000 # 5GB
