---
/**
 * Miku Push! Server is the backend behind Miku Push!
 * Copyright (C) 2025  Miku Push! Team
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

import Counter from '@/components/Counter.tsx'
import PageLayout from '@/layout/page.astro'
import { languagePaths } from "@/i18n/i18n.ts"
import i18n, { t } from "i18next";
import { Card, CardContent, CardHeader, CardFooter } from '@/components/ui/card';
import { Button } from '@/components/ui/button.tsx';
import { Separator } from "@/components/ui/separator.tsx";
import { File, Download } from 'lucide-react'

export function getStaticPaths() {
  return languagePaths();
}

await i18n.changeLanguage(Astro.currentLocale)
---
<PageLayout>
  <section class="flex-1 place-content-center m-auto w-full max-w-lg px-3">
    <Card>
      <CardHeader className="flex items-center flex-col sm:flex-row">
        <div class="rounded-md flex size-20 p-1 items-center justify-center sm:mr-3 bg-muted">
          <File className="size-10" />
        </div>
        <div class="mt-3 sm:mt-0">
          <h1 class="text-2xl line-clamp-1">My awesome file.jpg</h1>
          <p class="text-lg line-clamp-1">Image · 2MB</p>
        </div>
      </CardHeader>
      <Separator />
      <CardFooter className="justify-center">
        <Button className="w-full sm:w-sm h-12 text-lg">
          <Download className="size-5" />
          {t('download_file')}
        </Button>
      </CardFooter>
    </Card>
  </section>
</PageLayout>
