<html lang="en">
<head>
    <title>Miku Push | Health check</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'MS PGothic';
            font-style: normal;
            font-weight: 400;
            src: url('/static/fonts/ms-pgothic-regular.ttf') format('truetype');
        }

        body {
            font-family: 'MS PGothic', sans-serif;
            font-size: 12pt;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
　　　　　　　　　　 人
　　　　　　　　ノ⌒　丿
　　　　　＿／　　 ::（
　　　　/　　　　　:::::::＼
　　　 （　　　　　:::::::;;;;;;;）
　　　　＼＿――￣￣::::::::::＼
　　　 ﾉ￣　　　　　::::::::::::::::::::::）
　　　（　　　　　::::::::::::::;;;;;;;;;;;;人
　　／￣―――――￣￣::::::::＼
　（　　　　　　　　:::::::::::::::::::::::::::::::::）　　　　　 rへ ＿＿　 __
　　＼＿＿::::::::::::::::::;;;;;;;;;;;;;;;;;;;;;;;;ノ 　 　 　 ／: : : : : : : : Y: :ヽ
　　　　　　　　　. ＼＼l　 l.　　　　　　　／: :.／ l: :.lヽ: : :ヽ: : :ヽ
　　　　　　　　　　　 ＼＼l　　　　　　 //: :/ノ　 l: :ト､ヽ: : :',: : :. ',
　　　　　　　　　　　　　＼＼　　　　 / l: :/ ○　丶l ○ l: : :ﾊ: : : :',
　　　　　　　　　　　 　 　 ＼＼　＿/: :l: :l＠┌‐┐ ＠ l: :/: :l: : : :.',
　　　　　　　　　　　　　　 　 ＼/:::::::＼ヽl.＼ | 　 !　　 /:/／ l: : : :..i
　　　　　　　　　　　　　　　 　 {:::::::::::::::::`Ｔ７└‐┴‐＜　　　 ｌ: : : :. l
　　　　　　　　　　　 　 　 　 　 `r──‐┼-/l／l／/ 01i,　　l: : : : : l
　　　　　　　　　　　　　　　　　 /: : : : : : | /:/: l: : : :Y:::::::l　　l: : : : : :.l
　　　　　　　　　　　　　　　　　,': : : : : :.／ /: /: : : : l:::::::::l.　 l: : : : : : l
　　　　　　　　　　　　 　 　 　 i: : : : : く／レへ: : : : l::::::::::',.　!: : : : : : l
　　　　　　　　　.　　　　 　 　 l: : : : : : :＼:::::::::::ヽ イ:::::::::::::〉l: : : : : : : l
　　　　　　　　　　　　　　　　 l: : : : : : : : :ト､:::::::::::::::>ｔｊｔｊｔｊﾉ l: : : : : : : :l
　　　　　　　　　　　　　　　　 ',: : : : : : : :/├‐┤|─ '"|　　 l: : : : : : : :l
　　　　　　　　　　　　　　　　　ヽ: : : : ／　.l:::::::| l:::::::::::l　　 ',: : : : : : :,'
　　　　　　　　　　　　　　　　　　 ＼:/　 　 l:::::::l |::::::::::l　　　ヽ:: : : : /
</body>
</html>
