<html lang="en">
<head>
    <title>Miku Push | Health check</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        @font-face {
            font-family: 'MS PGothic';
            font-style: normal;
            font-weight: 400;
            src: url('/static/fonts/ms-pgothic-regular.ttf') format('truetype');
        }

        body {
            font-family: 'MS PGothic', sans-serif;
            font-size: 12pt;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
　　　 　　/＾>》, -―‐‐＜＾}
　　　 　./:::::::/,≠´:::::;::::::::ヽ.
　　　　/:::::::〃:::::::::／}::::丿ハ
　　　./:::::::::i{l|:::::／　ﾉ／ }::::::}
　　 /:::::::::::瓜イ＞　´＜ ,':::::ﾉ
　 ./:::::::::::::|ﾉﾍ.{､　( ﾌ_ノﾉイ
　 |:::::::::::::::|　／}｀ｽ/￣￣￣　/
.　|::::::::::::::::|(_:::::つ/MicBook./　click!
.￣￣￣￣￣＼/＿＿＿＿/￣￣￣
</body>
</html>
