---
/**
 * Miku Push! Server is the backend behind Miku Push!
 * Copyright (C) 2025  Miku Push! Team
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

import '@/styles/global.css'
import favicon from '@/assets/favicon.ico'
import Header from '@/components/Header.astro'

const locale = Astro.currentLocale ?? 'en'
---
<html lang={locale}>
<head>
  <meta charset="UTF-8"/>
  <link rel="icon" type="image/x-icon" href={favicon} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Miku Push!</title>
  <script>
    import { getCurrentTheme, applyTheme } from '@/lib/theme.ts'

    applyTheme(getCurrentTheme())
  </script>
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
</body>
</html>
